{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">

    <title>ExpenseTracker</title>
</head>
<body>
   {% block content %}
   {% comment %} <div class=" px-10 py-10 flex">
        <h1 class="border">WE are shinging</h1>
   </div> {% endcomment %}
   {% endblock content %}
</body>
</html>